%body
  .main__header
    .main__header--title
      .main__header--title-name
    .main__header--body
      .main__header--body-text いつも宿敵、ライバルとして憎み合い、争いあう二人。<br/>たまには言いたいことを遠慮なく吐き出してみませんか？
      .main__header--body-detail 
        %a.button{:href => "http://sample"} もっと詳しく
      .link.clearfix
        .facebook
        %i.fa.fa-facebook 
        .twitter
        %i.fa.fa-twitter
        .hatena
        %i.fa.fa-hatena
      .main__header--body-all
        すべてのテーマ
        .main__header--body-thema
          - @themas.each do |thema|
            .main__header--body-thema-title
            =link_to thema_path(thema.id) do
              = thema.first_name
            vs
            = thema.second_name
      .main__header--body-new
        新着のテーマ
        .main__header--body-new-thema
          - @themas_new.each do |thema|
            .main__header--body-new-thema-title
            =link_to thema_path(thema.id) do
              = thema.first_name
            VS
            = thema.second_name
      .main__header--body-review
        人気のレビュー
        .main__header--body-review-popular
          - @reviews_popular.each.with_index(1) do |review,i|
            .main__header--body-review-popular-title
            =link_to thema_path(review.thema.id) do
              - if review.first_body.present?
                = i 
                位
                = review.first_body
              - if review.second_body.present?
                = i 
                位
                = review.second_body



  .main__body
    .main__body--raw.clearfix
      .main__body--raw-box
        = render 'rankings'

  .pagination
    = link_to_next_page @ranking_page, 'more', remote: true, id: 'more_link'

= render 'footer'


