%body
  .main__header
    .main__header--title
      .main__header--title-name
    .main__header--body
      .main__header--body-text いつも宿敵、ライバルとして憎み合い、争いあう二人。<br/>たまには言いたいことを遠慮なく吐き出してみませんか？

      .main__header--body-detail 
        %a.button{:href => "http://sample"} もっと詳しく
      .link.clearfix
        .facebook
        %i.fa.fa-facebook 
        .twitter
        %i.fa.fa-twitter
        .hatena
        %i.fa.fa-hatena

  .main__body
    .main__body--raw.clearfix
      .main__body--raw-box
        - @ranking.each do |thema|
          =link_to thema_path(thema.id) do
            .main__body--raw-box-panel
              .main__body--raw-box-panel-firstName 
                =thema.first_name
              .main__body--raw-box-panel-vs vs
              .main__body--raw-box-panel-secondName 
                =thema.second_name
              .main__body--raw-box-panel-chart
                -if thema.reviews.count > 0
                  .main__body--raw-box-panel-chart-firstChart{:style => "width: #{thema.reviews.count(:first_body) / thema.reviews.count(:thema_id).to_f*100}%;"}
                    =thema.reviews.count(:first_body)
                  .main__body--raw-box-panel-chart-secondChart{:style => "width: #{thema.reviews.count(:second_body) / thema.reviews.count(:thema_id).to_f*100}%;"}
                    =thema.reviews.count(:second_body)

                - elsif thema.reviews.count == 0
                  .main__body--raw-box-panel-chart-firstChart{:style => "width: 50%;"}
                    =thema.reviews.count(:first_body)
                  .main__body--raw-box-panel-chart-secondChart{:style => "width: 50%;"}
                    =thema.reviews.count(:second_body)

  .pagination
    -# = paginate @themas

  .main__footer
    .main__footer__header
      .main__footer__header--title お題を投稿する
    .main__footer__body
      .main__footer__body--title.clearfix ライバル関係にある２つの事柄を投稿してみてください
      .main__footer__body--posting.clearfix
      = form_for @thema do |f|
        .firstPosting
          = f.text_area :first_name, placeholder: ""
        .vs vs
        .secondPosting
          = f.text_area :second_name, placeholder: ""
        .submit
          = f.submit :投稿する,class: "submit__form"
    .main__footer__footer 投稿できるお題は各50文字以内です

%footer
  .footer__body
    %ul.nav.clearfix
      %li トップページ
      %li タイケツの楽しみ方
      %li 利用規約・免責事項
      %li お問い合わせ
      %li © TAIKETSU


