%body
  .header
    .header__title
      =link_to root_path do
        .header__title__name 

  .body
    = render'more_review&less_review'

    .body__header
      .body__header__box
        .body__header__box__panel
          .body__header__box__panel__top
            .body__header__box__panel__top--firstName 
              =@thema.first_name
            .body__header__box__panel__top--vs vs
            .body__header__box__panel__top--secondName 
              =@thema.second_name
          .body__header__box__panel__bottom
            .facebook
              %i.fa.fa-thumbs-o-up
              ええやん!!
            .twitter
              %i.fa.fa-twitter
              Tweet
            .hatena
              .hatena__title
                hatena


    .body__main
      .body__main__left
        .body__main__left__panel
          .body__main__left__panel__title.clearfix
          %span 
            =@thema.first_name 
          からのご意見
          -@review_first_bodys.each_with_index do|review,i|
            -if review.first_body.present?
              .body__main__left__panel__comment
                .body__main__left__panel__comment__text 
                  =review.first_body
                  .count_first_likes
                    = render :partial => "likes/like",:locals =>{review:review, thema: @thema,index: i}
                  .count_first_dislikes
                    = render :partial => "dislikes/dislike",:locals =>{review:review, thema: @thema,index: i}

          = form_for [@thema,@review] do |f|
            .body__main__left__panel__post
            = f.text_area :first_body ,class: "text_area"
            = f.submit :意見を投稿する,class: "body__main__left__panel__buttun"

      .body__main__right
        .body__main__right__panel
          .body__main__right__panel__title
          %span 
            =@thema.second_name
          からのご意見
          -@review_second_bodys.each_with_index do|review,i|
            -if review.second_body.present?
              .body__main__right__panel__comment
                .body__main__right__panel__comment__text 
                  =review.second_body
                  .count_second_likes
                    = render :partial => "likes/like",:locals =>{review:review, thema: @thema,index: i}
                  .count_second_dislikes
                    = render :partial => "dislikes/dislike",:locals =>{review:review, thema: @thema,index: i}

          = form_for [@thema,@review] do |f|
            .body__main__right__panel__post
            = f.text_area :second_body ,class: "text_area"
            = f.submit :意見を投稿する,class: "body__main__right__panel__buttun"
        投稿できるご意見は200文字以内です。

= render 'footer'


