%body
  .header
    .header__title
      =link_to root_path do
        .header__title__name 

  .body
    - @ranking.each_with_index do |rank,i|
      .upper_themas.clearfix
        - if rank == @thema && @ranking[i + 1].present? && @ranking[i - 1].present? && i != 0
          =link_to thema_path(@ranking[i - 1].id)do
            .next__thema 
              %i.fa.fa-arrow-circle-left
              =@ranking[i - 1].first_name
              vs
              =@ranking[i - 1].second_name
          =link_to thema_path(@ranking[i + 1].id)do
            .past__thema 
              =@ranking[i + 1].first_name
              vs
              =@ranking[i + 1].second_name
              %i.fa.fa-arrow-circle-right
        - elsif @ranking[i + 1].nil? && rank == @thema
          =link_to thema_path(@ranking[i - 1].id)do
            .next__thema
              %i.fa.fa-arrow-circle-left
              =@ranking[i - 1].first_name
              vs
              =@ranking[i - 1].second_name

        - elsif i == 0 && rank == @thema
          =link_to thema_path(@ranking[i + 1].id)do
            .past__thema 
              =@ranking[i + 1].first_name
              vs 
              =@ranking[i + 1].second_name
              %i.fa.fa-arrow-circle-right

    .body__header
      .body__header__box
        .body__header__box__panel
          .body__header__box__panel__top
            .body__header__box__panel__top--firstName 
              =@thema.first_name
            .body__header__box__panel__top--vs vs
            .body__header__box__panel__top--secondName 
              =@thema.second_name
          .body__header__box__panel__bottom
            .facebook
              %i.fa.fa-thumbs-o-up
              ええやん!!
            .twitter
              %i.fa.fa-twitter
              Tweet
            .hatena
              .hatena__title
                hatena


    .body__main
      .body__main__left
        .body__main__left__panel
          .body__main__left__panel__title.clearfix
          %span 
            =@thema.first_name 
          からのご意見
          -@review_first_bodys.each_with_index do|review,i|
            -if review.first_body.present?
              .body__main__left__panel__comment
                .body__main__left__panel__comment__text 
                  =review.first_body
                  .count_first_likes
                    = render :partial => "likes/like",:locals =>{review:review, thema: @thema,index: i}
                  .count_first_dislikes
                    = render :partial => "dislikes/dislike",:locals =>{review:review, thema: @thema,index: i}

          = form_for [@thema,@review] do |f|
            .body__main__left__panel__post
            = f.text_area :first_body ,class: "text_area"
            = f.submit :意見を投稿する,class: "body__main__left__panel__buttun"

      .body__main__right
        .body__main__right__panel
          .body__main__right__panel__title
          %span 
            =@thema.second_name
          からのご意見
          -@review_second_bodys.each_with_index do|review,i|
            -if review.second_body.present?
              .body__main__right__panel__comment
                .body__main__right__panel__comment__text 
                  =review.second_body
                  .count_second_likes
                    = render :partial => "likes/like",:locals =>{review:review, thema: @thema,index: i}
                  .count_second_dislikes
                    = render :partial => "dislikes/dislike",:locals =>{review:review, thema: @thema,index: i}

          = form_for [@thema,@review] do |f|
            .body__main__right__panel__post
            = f.text_area :second_body ,class: "text_area"
            = f.submit :意見を投稿する,class: "body__main__right__panel__buttun"
        投稿できるご意見は200文字以内です。

  .main__footer
    .main__footer__header
      .main__footer__header--title お題を投稿する
    .main__footer__body
      .main__footer__body--title.clearfix ライバル関係にある２つの事柄を投稿してみてください
      .main__footer__body--posting.clearfix
      = form_for @new_thema do |f|
        .firstPosting
          = f.text_area :first_name,class: 'first_post', placeholder: ""
        .vs vs
        .secondPosting
          = f.text_area :second_name, class: 'second_post',placeholder: ""
        .submit
          = f.submit :投稿する,class: "submit__form"
    .main__footer__footer 投稿できるお題は各50文字以内です

%footer
  .footer__body
    .nav.clearfix
      .nav__menu トップページ
      .nav__menu タイケツの楽しみ方
      .nav__menu 利用規約・免責事項
      .nav__menu お問い合わせ
      .nav__menu © TAIKETSU


